<div style="padding: 100px 0;">
    <div style="width: 30%;margin: auto;">
        <form #f="ngForm" (ngSubmit)="submit()">
            <div class="form-group">
                <label for="exampleInputEmail1">Email address</label>
                <input type="email" ngModel #email="ngModel" name="email" required class="form-control myemail"
                    id="exampleInputEmail1" aria-describedby="emailHelp">
                <div class="error" *ngIf="email.errors && email.touched">
                    <div *ngIf="email.errors.required">Email is required.</div>
                </div>
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">Password</label>
                <input type="password" ngModel name="password" #pass="ngModel" minlength="8" required
                    class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                <div class="error" *ngIf="pass.errors && pass.touched">
                    <div *ngIf="pass.errors.required">Password is required.</div>
                    <div *ngIf="pass.errors.minlength">Required is {{pass.errors.minlength.requiredLength}} characters.
                        You entered {{pass.errors.minlength.actualLength}} characters.</div>
                </div>
            </div>
            <div ngModelGroup="address">
                <p style="font-weight: 600;">Address</p>
                <div class="form-group">
                    <label for="exampleInputEmail1">City</label>
                    <input type="text" ngModel name="city" #city="ngModel" required class="form-control"
                        id="exampleInputEmail1" aria-describedby="emailHelp">
                    <div class="error" *ngIf="city.errors && city.touched">
                        <div *ngIf="city.errors.required">City is required.</div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">State</label>
                    <input type="text" ngModel name="state" #state="ngModel" required class="form-control"
                        id="exampleInputEmail1" aria-describedby="emailHelp">
                    <div class="error" *ngIf="state.errors && state.touched">
                        <div *ngIf="state.errors.required">State is required.</div>
                    </div>
                </div>
            </div>
            <button type="submit" class="btn btn-primary" [disabled]="f.invalid">Submit</button>
        </form>
    </div>
</div>